<h2>Upcoming Dinners</h2>

<%if @dinners.length == 0 %>
   <%= link_to("There are no upcoming dinners", {:action => "new"}) %>
<%end%>

<ul>
<% @dinners.each do |dinner| %>
    <li><%= link_to dinner.Description, dinner%> on <%=dinner.Formatted_Eventdate%></li>
<% end %>
</ul>